extends layout

block append css

block append headContents

block content
	使い方

	h2 入力モード
	カード情報はキーボードから入力することも可能で、早いので是非オススメしたい。
	br
	img(src="/image/howToUse/inputMode.png")
	br
	カード情報が認識されると自動でカード情報を送る。
	br
	text input mode 「normal」というのが通常入力モードであり。
	br
	♠：2s, 3s, ..., Ts, Js, Qs, Ks, As
	br
	♥：2h, 3h, ..., Th, Jh, Qh, Kh, Ah
	br
	♦：2d, 3d, ..., Td, Jd, Qd, Kd, Ad
	br
	♣：2c, 3c, ..., Tc, Jc, Qc, Kc, Ac
	br
	といったようにそれぞれ入力する。
	br
	br
	text input mode 「easy」というのが簡単入力モードであり。
	br
	以下の写真のように感じに入力できます。
	br
	img(src="/image/howToUse/easyKeyboard.jpg")
	br
	それぞれ
	br
	数字→数字
	br
	キーボードのQ→T
	br
	キーボードのW→J
	br
	キーボードのE→Q
	br
	キーボードのR→K
	br
	キーボードのT→A
	br
	キーボードのA→♠
	br
	キーボードのS→♥
	br
	キーボードのD→♦
	br
	キーボードのF→♣
	br
	キーボードのG→効果音
	br
	に対応しています。（写真にシール貼ろう）



block append afterScripts
