extends layout

block append css

block append headContents
	link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css")

block content

	// header
	div(class="navbar-wrapper")
		div(class="navbar navbar-inverse navbar-static-top" role="navigation")
			div(class="navbar-header")
				a(class="navbar-brand" href="../")
					text Poker Live!
	// header


	h2 システムについて
	本システムは、カードを一枚一枚入力する　レジ方式　という方法でプレイヤーの手札と勝率を計算します。
	br
	ディーラーの手元にカメラを１台置き、ディーラーはカード配る前にカメラにカードをかざします。
	br
	ディーラーとは別に、本システムを使用しカメラ画像からカードを入力してサーバーにカード情報を送る人が必要になります。
	br
	カード認識とは別に、放送用のカメラも必要ですので、カメラは合計２台使用します。
	br
	br
	h2 サイトについて
	サイトにアクセスすると、カメラを許可するか？と聞かれるので、許可して下さい。
	br
	カメラを付けた状態で許可すると中央上部にカメラ映像が映ります。これは放送用の映像になります。
	br
	手札認識用の映像はサイト上にありませんので、サイトとは別で見れる必要があります。
	br
	中央左の入力欄にプレイヤー名を入力して下さい。
	入力するとカメラ映像の上に名前が表示されます。
	br
	プレイヤー名の右の×印を押すとプレイヤーを消すことができます。
	（席移動やプレイヤーが飛んだ時などに使用しよう。）
	br
	中央下にはカードを入力ためのボタンや入力欄があります。
	ここからカード情報をサーバーに送信して下さい。
	br
	中央右には、次のゲームに進めたるためのボタンがあります。
	br
	br
	h2 ゲームの進め方
	ディーラーはカードを配る前にカメラにカードをかざし、入力が完了したらプレイヤーに手札を配って下さい。
	br
	（入力の完了は入力係から何かしらの合図があったなどで判断して下さい。）
	br
	br
	（例）
	br
	シャッフルが終わったらディーラーはSBに配るカードをカメラにかざします。
	br
	入力係はカメラからカードを確認したら、カード情報をサーバーに送り、ディーラーに合図を出します。
	br
	ディーラーはそのカードをSBに配ります。
	br
	サーバーは１枚目のカードがボタンの次の人に配られるということを知っているため、そのカードをボタンの次のプレイヤーのものとします。
	br
	br
	こうして全員にカードがくばられたら、サーバーはプリフロップが始まったと認識し、プレイヤーの勝率を計算します。
	br
	プレイヤーがフォールドした場合は、回収した手札のどちらか一枚をカメラにかざして下さい。
	br
	（サーバーは既に出たカードがもう一度送られてきた場合にそのプレイヤーがフォールドしたと認識し、残ったプレイヤーの勝率を再計算します。）
	br
	プリフロップが終わりフロップのカードをめくる時は３枚のカードを順にカメラにかざして下さい。
	br
	（サーバーはまだ出ていないカードが送られてきた場合、フロップのカードだと認識します。）
	br
	プロップの３枚を送信したら、サーバーはプロップが配られたことを認識し、勝率を再計算します。
	br
	フォールドする場合は上記に同じ。
	br
	まだ出ていないカードが送られたら、サーバーはターンのカードだと認識し、勝率を再計算します。
	br
	まだ出ていないカードが送られたら、サーバーはリバーのカードだと認識し、勝率を再計算します。
	br
	ゲームが終了したら、「Next Game」ボタンをクリックして下さい。
	プレイヤーのハンドが消え、ボタンが次のプレイヤーに自動で動きます。
	br
	さぁ、次のゲームを始めよう！

	br
	br
	h2 機能の詳しい使い方
	h3 入力モード
	カード情報はキーボードから入力することも可能で、早いので是非オススメしたい。
	br
	img(src="/image/howToUse/inputMode.png")
	br
	カード情報が認識されると自動でカード情報を送る。
	br
	text input mode 「normal」というのが通常入力モードであり。
	br
	♠：2s, 3s, ..., Ts, Js, Qs, Ks, As
	br
	♥：2h, 3h, ..., Th, Jh, Qh, Kh, Ah
	br
	♦：2d, 3d, ..., Td, Jd, Qd, Kd, Ad
	br
	♣：2c, 3c, ..., Tc, Jc, Qc, Kc, Ac
	br
	といったようにそれぞれ入力する。
	br
	br
	text input mode 「easy」というのが簡単入力モードであり。
	br
	以下の写真のように感じに入力できます。
	br
	img(src="/image/howToUse/easyKeyboard.jpg")
	br
	それぞれ
	br
	数字→数字
	br
	キーボードのQ→T
	br
	キーボードのW→J
	br
	キーボードのE→Q
	br
	キーボードのR→K
	br
	キーボードのT→A
	br
	キーボードのA→♠
	br
	キーボードのS→♥
	br
	キーボードのD→♦
	br
	キーボードのF→♣
	br
	キーボードのG→効果音
	br
	に対応しています。（キーボードにシール貼ろう）
	br

	// footer
	div(style="clear:both;")
		footer
			hr(class="featurette-divider")
			p(class="pull-right")
				a(href="#") Back to top
			p &copy; 2014 DWPC Tech. &middot;
				a(href="#") Privacy
				&middot;
				a(href="#") Terms
	// footer



block append afterScripts
