extends layout

block append css

block append headContents
	link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css")

block content

	// header
	div(class="navbar-wrapper")
		div(class="navbar navbar-inverse navbar-static-top" role="navigation")
			div(class="navbar-header")
				a(class="navbar-brand" href="../")
					text Poker Live!
	// header


	h2 システムについて
	text 本システムは、カードを一枚一枚入力する　レジ方式　という方法でプレイヤーの手札と勝率を計算します。
	br
	text ディーラーの手元にカメラを１台置き、ディーラーはカード配る前にカメラにカードをかざします。
	br
	text ディーラーとは別に、本システムを使用しカメラ画像からカードを入力してサーバーにカード情報を送る人が必要になります。
	br
	text カード認識とは別に、放送用のカメラも必要ですので、カメラは合計２台使用します。
	br
	br


	h2 必要なもの
	text ・パソコン（２台推奨）
	br
	text ・web カメラ２台
	br
	text ・プリンタ
	br
	text ・適当なトランプ（100均一でOK）
	br
	text ・カットカード
	br
	text ・ネット環境
	br
	br


	h2 下準備
	a(href="qrSheet") QRシート
	text を印刷してトランプにはりつけます。


	h2 サイトの使い方
	h4 oddsSystem
	text oddsSystemページにアクセスすると、カメラを許可するか？と聞かれるので、許可して下さい。
	br
	text カメラを付けた状態で許可すると中央上部にカメラ映像が映ります。これは放送用の映像になります。
	br
	br
	text 中央左の入力欄にプレイヤー名を入力して下さい。
	text 入力するとカメラ映像の上に名前が表示されます。
	br
	text プレイヤー名の右の×印を押すとプレイヤーを消すことができます。
	text （席移動やプレイヤーが飛んだ時などに使用しよう。）
	br
	br
	text 中央下にはカードを入力ためのボタンや入力欄があります。
	br
	text ここからカード情報をサーバーに送信することができます。
	br
	br
	text 画面下に「input mode」というのがあるので、「OR code」に設定します。
	br
	text この時に表示されるのが QR code Reader に入力するパスワードです。
	br
	img(src="/image/howToUse/inputModeQRCode.png" style="border:double 5px #ff0000")
	br


	h4 QR Code Reader
	text qrCodeReaderページにアクセスすると、カメラを許可するか？と聞かれるので、許可して下さい。
	br
	text 「webカメラからの画像切り抜き頻度（ミリ秒）」というのがあるが、
	text この値を下げるとWebカメラから画像を切り抜きQRコード認識する間隔を設定できます。
	br
	text （下げすぎるとPCファンがうなったりするので注意、デフォルト100ミリ秒）
	br
	br
	text 「password」欄に、oddsSystemの方のパスワードを入力します。
	br
	text （これで、QRコードリーダーとオッズシステムが紐好きます。）
	br
	text ためしにQRコードをカメラにかざし、ピッっと認識されれば準備はおkです。
	br
	br



	h2 ゲームの進め方
	text シャッフルが終わったらディーラーはSBに配るカードをカメラにかざして認識させます。
	br
	text カードの認識に成功したらQR Code Readerからピッっと音がなり、データがサーバーに送られます。
	text ディーラーはそのカードをSBに配ります。
	br
	text サーバーは１枚目のカードがボタンの次の人に配られるということを知っているため、そのカードをボタンの次のプレイヤーのものとします。
	br
	br
	text こうして全員にカードがくばられたら、サーバーはプリフロップが始まったと認識し、プレイヤーの勝率を計算します。
	br
	text プレイヤーがフォールドした場合は、回収した手札のどちらか一枚をカメラにかざして認識させて下さい。
	br
	text （サーバーは既に出たカードがもう一度送られてきた場合にそのプレイヤーがフォールドしたと認識し、残ったプレイヤーの勝率を再計算します。）
	br
	br
	text プリフロップが終わりフロップのカードをめくる時は３枚のカードを順にカメラにかざして認識させて下さい。
	br
	text （サーバーはまだ出ていないカードが送られてきた場合、フロップのカードだと認識します。）
	br
	text プロップの３枚を送信したら、サーバーはプロップが配られたことを認識し、勝率を再計算します。
	br
	text フォールドする場合は上記に同じ。
	br
	br
	text まだ出ていないカードが送られたら、サーバーはターンのカードだと認識し、勝率を再計算します。
	br
	text まだ出ていないカードが送られたら、サーバーはリバーのカードだと認識し、勝率を再計算します。
	br
	br
	text ゲームが終了したら ng （カットカードについてるQRコード）をカメラにかざして認識させます。
	br
	text （もしくは「Next Game」ボタンをクリックして下さい。)
	br
	text プレイヤーのハンドが消え、ボタンが次のプレイヤーに自動で動きます。
	br
	br
	text さぁ、次のゲームを始めよう！

	br

	// footer
	div(style="clear:both;")
		footer
			hr(class="featurette-divider")
			p(class="pull-right")
				a(href="#") Back to top
			p &copy; 2014 DWPC Tech. &middot;
				a(href="#") Privacy
				&middot;
				a(href="#") Terms
	// footer



block append afterScripts
