extends layout

block append css

block append headContents

block content
	a(href='/oddsSystem') oddsSystem
	br
	a(href='/qrCodeReader') QR Code Reader
	br
	a(href='/howToUse') 使い方
	br
	a(href='https://www.youtube.com/watch?v=qhJz2eiMOds') 使い方紹介動画１
	br
	a(href='https://www.youtube.com/watch?v=8pZnBBzziqk') 使い方紹介動画２
	br
	a(href='/qrSheet') QRシート
	br
	a(href='https://github.com/DDRAGON/raise') allin.jpのgithub

block append afterScripts
