extends layout

block append css

block append headContents
	script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	ins(class="adsbygoogle" style="display:inline-block;width:468px;height:60px" data-ad-client="ca-pub-2941365993317354" data-ad-slot="3165558863")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});
	br


block content
	a(href='/oddsSystem') oddsSystem

block append afterScripts
