extends layout

block append css
	link(rel="stylesheet" href="/stylesheets/index.css")

block append headContents

block content
	div(style='background-color:#000000;')
		a(href='http://allin.jp')
			img(src='image/index/allin.png' height='90' width='168')

	div
		span(style="font-size:28px;")
			span(style='color:#FF0000;') 誰でも、どこでも、
			span(style='color:#3366FF;') 安価に
			span ハンド公開ポーカー配信ができる！

	div(style="float:left;width:450px;")
		a(href='/oddsSystem')
			img(src='image/index/kuriAllIn.png' width='450px')

	div(style="float:left;width:450px;")
		div
			text 当サービスでは
			b テキサスホールデムポーカーの動画配信
			text 向けに、カメラの入力映像の上にプレイヤーのハンド、アクション、勝率等を表示するような映像合成を簡単に行うことができます。
		div また実況付きのライブ配信等にも利用できるよう、スムーズなデータ入力が可能となっています。

		a(href='/oddsSystem') 安価ハンド公開ポーカー配信ツール
		br
		a(href='/qrCodeReader') QR Code リーダー
		br
		div
			a(href='howToUseAllinJpPdf') 使い方パンフレットPDF
		div
			a(href='/howToUse') 使い方
		a(href='https://www.youtube.com/watch?v=qhJz2eiMOds') 使い方紹介動画１
		br
		a(href='https://www.youtube.com/watch?v=8pZnBBzziqk') 使い方紹介動画２
		br
		a(href='http://allinjpdev.blogspot.jp/') 開発ブログ
		br
		a(href='/qrSheet') QRシート
		br
		div
			a(href='/forDealer')
				img(src='image/index/smartPhone.jpg' height='40' width='20')
				text ディーラーページ
		div
			a(href='/QRCodeCards')
				img(src='image/QRCodeCards/QRCodeCardSample.png' height='60' width='70')
				text QRコード＆バーコードトランプ
		div
			a(href='/multiQrCodeReader') multiQrCodeReader
		div
			a(href='/manAAgeTool') manAAgeTool
		br

	div(style="clear:both;")
		script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		ins(class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2941365993317354" data-ad-slot="5734348463")
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});

block append afterScripts
https://sellercentral.amazon.co.jp/hz/inventory?ldrCount=0&price=2%2C000&itemCreateWtqRequestId=17bfded7-e587-4408-9c4d-340e5117c52d&quarantineCount=0&newItemSku=R3-TNLR-AS0E&newItemName=QR%E3%82%B3%E3%83%BC%E3%83%89%EF%BC%86%E3%83%90%E3%83%BC%E3%82%B3%E3%83%BC%E3%83%89%E3%83%88%E3%83%A9%E3%83%B3%E3%83%97&new1x1Item=true
