extends layout

block append css

block append headContents

block content
	a(href='/oddsSystem') oddsSystem
	br
	a(href='/qrCodeReader') QR Code Reader
	br
	a(href='/howToUse') 使い方

block append afterScripts
