extends layout

block append css

block append headContents

block content
	div(style='background-color:#000000;')
		a(href='http://allin.jp')
			img(src='image/index/allin.png' height='90' width='168')
			script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			ins(class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2941365993317354" data-ad-slot="5734348463")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});
	a(href='/oddsSystem') oddsSystem
	br
	a(href='/qrCodeReader') QR Code Reader
	br
	a(href='/howToUse') 使い方
	br
	a(href='https://www.youtube.com/watch?v=qhJz2eiMOds') 使い方紹介動画１
	br
	a(href='https://www.youtube.com/watch?v=8pZnBBzziqk') 使い方紹介動画２
	br
	a(href='/qrSheet') QRシート
	br
	a(href='https://github.com/DDRAGON/raise') allin.jpのgithub

block append afterScripts
