doctype html
html
	head
		block title
			if title
				title= title
		block css
			link(rel='stylesheet', href='/stylesheets/style.css')

		block scripts
			script(type='text/javascript', src='/assets/jquery-2.0.2.js')
	body
		block headContents

		block content
		block afterScripts
		block backGround
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-55381205-1', 'auto');
				ga('send', 'pageview');


