extends layout

block append css

block append headContents

block content
	div(style='background-color:#000000;')
		a(href='http://allin.jp')
			img(src='image/index/allin.png' height='90' width='168')
			script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
			ins(class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-2941365993317354" data-ad-slot="5734348463")
			script.
				(adsbygoogle = window.adsbygoogle || []).push({});

	h2 QRCode and BarCode Cards

	div
		img(src='image/QRCodeCards/QRCodeCardSample.png')
	div(style="float:left;width:300px") 　
	div(style="float:left;font-size:16px;")
		div(style="text-align:left;") * 54cards including 2 JOKERs
		div(style="text-align:left;") * QRCode And BarCode are printed.
		div(style="text-align:left;") * 4Color Big index.
		div(style="text-align:left;") * 100%plastec
		div(style="text-align:left;") * size: 56mmx88mm
		br
		div(style="text-align:left;") price 20JPY or $20

block append afterScripts