extends layout

block append css

block append headContents

block content
	text QRシートのダウンロードは下記のリンクから行えます。
	br
	br
	a(href='/download/qrSheet.pdf') QRシート
	br
	br
	text 左上から順に
	br
	text As  Ah
	br
	text Ad  Ac
	br
	text Ks  Kh
	br
	text ・・・
	br
	text の順になっています。
	br
	text 最後のシートは ng (NextGame）というボタン移動用のコードなのでカットカードにつけて下さい。
	br
	br
	text トランプに貼付ける前に、一度QRコードリーダーに ピッ として確認してみることを勧めます。

block append afterScripts
