body
	background-color #eee
	color #374655

.navbar-inverse
	background-color #4e5d6c
	border 0px
.navbar-inverse .navbar-brand
	color #FFF

hr
	border-top 1px solid #8E979F

.modal-content
	background-color #eee
.modal-header
	border-bottom 1px solid #bdc7c0
.modal-footer
	border-top 1px solid #bdc7c0

#settings
	padding-right 10px
	min-width 175px
	min-height 500px

.setting_wrap
	padding-bottom 10px

.collapse_body>div
	color #374655
	padding 5px 10px
	width auto
.collapse_body>div:after
	content ""
	clear both
	display block
.collapse_body>div>a
	color #953d12

.btn-default
	color #FFF
	background-color #4e5d6c
	border-color #2e3d4c
.btn-default:hover
	color #FFF
	background-color #6e7d8c
	border-color #2e3d4c
.btn-default.active
	color #FFF
	background-color #6e7d8c
	border-color #2e3d4c

.btn-success
	color #FFF
	background-color #57bB93
	border-color #278B63
.btn-success:hover
	color #FFF
	background-color #67cBb3
	border-color #278B63

.btn .caret
	margin-left 5px

.dropdown-menu
	min-width: 0
.dropdown-menu>li>a
	color #374655

.collapse_header
	padding-bottom 5px
	border-bottom 1px solid #8E979F
	padding-left 5px

.collapse_header
	cursor pointer

a.card_selector
	width 50px
	height 50px
a.mark
	font-size 30px
	padding 3px 0

.border_radius
	border-radius 5px
	-webkit-border-radius 5px
	-moz-border-radius 5px

.stripe_b
	background-color #e5e5e5

#captionBox
	background-color rgba(0,0,0,0.9)
	color #FFF
	font-size 24px
	padding 5px 10px
	min-height 38px
	min-width 78px

#descriptionBox
	background-color rgba(0,0,0,0.9)
	color #FFF
	padding 5px
	min-height 30px
	min-width 50px

/* canvas */
.wall_camera
	background-image none;
.wall_wood
	background-image url(/image/background/wood.jpg)
.wall_mat
	background-image url(/image/background/green_mat.jpg)
.wall_green
	background-color rgb(0,255,0)
.wall_blue
	background-color rgb(0,0,255)
.wall_yellow
	background-color rgb(255,255,0)

/* board */
.board
	background-color rgba(200,200,200,0.9)

.board .card
	background-color rgba(255,255,255,1)
	padding 12px 7px
	width 39px
	height 48px
	margin 3px

/* card */
.card
	padding-top 5px
	font 16pt Arial, sans-serif

.color_c
	color #090 !important
.color_s
	color #000 !important
.color_h
	color #F00 !important
.color_d
	color #03F !important

.color_c_for_blue_background
	color #090 !important
.color_s_for_blue_background
	color #000 !important
.color_h_for_blue_background
	color #F22 !important
.color_d_for_blue_background
	color #b90 !important

.color_c_for_green_background
	color #a90 !important
.color_s_for_green_background
	color #000 !important
.color_h_for_green_background
	color #F22 !important
.color_d_for_green_background
	color #03F !important

.mark_c:after
	content "♣"
.mark_s:after
	content "♠"
.mark_h:after
	content "♥"
.mark_d:after
	content "♦"

/* playerBox */
.playerBox
	font-size 10pt
	background-color rgba(0,0,0,0.9)
	color #EEE
	width 85px
	position absolute

.playerBox
	.cardHolder
		height 30px

.playerBox
	.folded
		font-size 16pt

.playerBox
	.name
		background-color rgba(0,0,0,0.9)
		width 67px

.handLeft
	padding-left 5px
	padding-right 5px
	background-color rgba(255,255,255,1)
.handRight
	padding-left 5px
	padding-right 5px
	background-color rgba(255,255,255,1)

.playerBox
	.dealer
		width 18px
		font-size 10pt
		color rgba(255,255,255,0.0)
		background-color rgba(0,0,0,0.6)
.playerBox
	.dealer.on
		color #FFF
		background-color #D96

.playerBox
	.actionBox
		width 18px
		font-size 10pt
		color rgba(255,255,255,0.0)
		background-color rgba(0,0,0,0.9)
.playerBox
	.actionBox.actionF
		color #FFF
		background-color rgba(50,150,200,0.9)
.playerBox
	.actionBox.actionC
		color #FFF
		background-color rgba(100,200,50,0.9)
.playerBox
	.actionBox.actionR
		color #FFF
		background-color rgba(250,50,100,0.9)
.playerBox
	.actionBox.actionA
		color #FFF
		background-color rgba(250,50,100,0.9)

.playerBox
	.chipBox
		background-color rgba(0,0,0,0.7)
		width 6px
		height 18px
.playerBox
	.chipBox.actionF
		color #FFF
		background-color rgba(25,75,100,0.9)
.playerBox
	.chipBox.actionC
		color #FFF
		background-color rgba(50,100,25,0.9)
.playerBox
	.chipBox.actionR
		color #FFF
		background-color rgba(125,25,50,0.9)
.playerBox
	.chipBox.actionA
		color #FFF
		background-color rgba(125,25,50,0.9)

.playerBox
	.odds.withTie
		font-size 10px

.playerBox
	.odds
		color #cff
		font-weight bold

.playerBox
	.odds.max
		color #F66
		font-weight bold

.playerBox
	.odds.win:before
		content "✔ "

.centerAdvice
	display none
	font-size 22px
	padding 8px 8px
	position absolute
	top 50%
	left 50%
	background-color rgba(200,200,200,0.5)
	border-radius 10px
	-webkit-border-radius 10px
	-moz-border-radius 10px
