body {
  background-color: #eee;
  color: #374655;
}
.navbar-inverse {
  background-color: #4e5d6c;
  border: 0px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
hr {
  border-top: 1px solid #8e979f;
}
.modal-content {
  background-color: #eee;
}
.modal-header {
  border-bottom: 1px solid #bdc7c0;
}
.modal-footer {
  border-top: 1px solid #bdc7c0;
}
#settings {
  padding-right: 10px;
  min-width: 175px;
  min-height: 500px;
}
.setting_wrap {
  padding-bottom: 10px;
}
.collapse_body>div {
  color: #374655;
  padding: 5px 10px;
  width: auto;
}
.collapse_body>div:after {
  content: "";
  clear: both;
  display: block;
}
.collapse_body>div>a {
  color: #953d12;
}
.btn-default {
  color: #fff;
  background-color: #4e5d6c;
  border-color: #2e3d4c;
}
.btn-default:hover {
  color: #fff;
  background-color: #6e7d8c;
  border-color: #2e3d4c;
}
.btn-default.active {
  color: #fff;
  background-color: #6e7d8c;
  border-color: #2e3d4c;
}
.btn-success {
  color: #fff;
  background-color: #57bb93;
  border-color: #278b63;
}
.btn-success:hover {
  color: #fff;
  background-color: #67cbb3;
  border-color: #278b63;
}
.btn .caret {
  margin-left: 5px;
}
.dropdown-menu {
  min-width: 0;
}
.dropdown-menu>li>a {
  color: #374655;
}
.collapse_header {
  padding-bottom: 5px;
  border-bottom: 1px solid #8e979f;
  padding-left: 5px;
}
.collapse_header {
  cursor: pointer;
}
a.card_selector {
  width: 50px;
  height: 50px;
}
a.mark {
  font-size: 30px;
  padding: 3px 0;
}
.border_radius {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.stripe_b {
  background-color: #e5e5e5;
}
/* canvas */
.wall_camera {
  background-image: none;
}
.wall_wood {
  background-image: url("/image/background/wood.jpg");
}
.wall_mat {
  background-image: url("/image/background/green_mat.jpg");
}
/* board */
.board {
  background-color: rgba(200,200,200,0.4);
}
.board .card {
  background-color: rgba(0,0,0,0.6);
  padding: 12px 7px;
  width: 39px;
  height: 48px;
  margin: 3px;
}
/* card */
.card {
  padding-top: 5px;
  font: 16pt Arial, sans-serif;
}
.color_c {
  color: #6c6 !important;
}
.color_s {
  color: #fff !important;
}
.color_h {
  color: #f66 !important;
}
.color_d {
  color: #6cf !important;
}
.mark_c:after {
  content: "♣";
}
.mark_s:after {
  content: "♠";
}
.mark_h:after {
  content: "♥";
}
.mark_d:after {
  content: "♦";
}
/* playerBox */
.playerBox {
  font-size: 9pt;
  background-color: rgba(0,0,0,0.4);
  color: #eee;
  width: 80px;
  position: absolute;
}
.playerBox .cardHolder {
  height: 30px;
}
.playerBox .folded {
  font-size: 16pt;
}
.playerBox .name {
  background-color: rgba(0,0,0,0.4);
  width: 64px;
}
.handLeft {
  padding-left: 10px;
}
.handRight {
  padding-right: 10px;
}
.playerBox .dealer {
  width: 16px;
  font-size: 9pt;
}
.playerBox .dealer {
  color: rgba(255,255,255,0);
  background-color: rgba(0,0,0,0.6);
}
.playerBox .dealer.on {
  color: #fff;
  background-color: #d96;
}
