body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
a.num {
  width: 45px;
}
a.mark {
  width: 65px;
  font-size: 50px;
}
