body
	padding: 0px
	font:14px "Lucida Grande", Helvetica, Arial, sans-serif
	text-align:center
	margin-left: auto
	margin-right: auto
	
a.card_selector
	width: 50px
	height: 50px
a.mark
	font-size: 30px
	padding: 3px 0

.border_radius
	border-radius: 5px
	-webkit-border-radius: 5px
	-moz-border-radius: 5px

.stripe
	background-color: #F6F6F6

/* canvas */
.wall_camera
	background-image: none;
.wall_wood
	background-image: url(/image/background/wood.jpg)
.wall_mat
	background-image: url(/image/background/green_mat.jpg)
	
/* board */
.board
	background-color:rgba(200,200,200,0.4)

.board .card
	background-color:rgba(0,0,0,0.6)
	padding:9px 7px
	width: 39px
	height: 48px
	margin: 3px

/* card */
.card
	font-size:16pt

.color_c
	color:#6C6 !important
.color_s
	color:#FFF !important
.color_h
	color:#F66 !important
.color_d
	color:#69F !important

.card.mark_c:after
	content:"♣"
.card.mark_s:after
	content:"♠"
.card.mark_h:after
	content:"♥"
.card.mark_d:after
	content:"♦"

/* playerBox */
.playerBox
	font-size:9pt
	background-color: rgba(0,0,0,0.4)
	color: #EEE
	width:80px
	position: absolute

.playerBox
	.cardHolder
		height:30px

.playerBox
	.folded
		font-size:16pt

.playerBox
	.card
		width:40px

.playerBox
	.name
		background-color:rgba(0,0,0,0.4)
		width:64px

.playerBox
	.dealer
		width:16px
		font-size:9pt

.playerBox
	.dealer
		color:rgba(255,255,255,0.0)
		background-color:rgba(0,0,0,0.6)
.playerBox
	.dealer.on
		color:#FFF
		background-color:#D96
