div(class="setting_wrap")
	H4(id="config_header" class='text-left collapse_header')
		span(class="glyphicon glyphicon-cog")
		text CONFIG

	div(id="config_items" class="collapse collapse_body")

		// Room Id
		div(class="stripe_b text-left")
			text Room Id
			input(id="room_id" type="text" class="form-control input-sm" style="cursor: pointer; width:70px" onfocus="this.select();" readonly)

		// Assistant Mode
		div(class="stripe_a text-left")
			text Assistant Mode
			input(id="assistant_id" type="password" class="form-control input-sm" style="width:140px" placeholder="Parent")

		// layout
		div(class="stripe_b text-left")
			div View Layout
			div(style="float:left;")
				button(id="layoutShow" class="btn btn-default btn-sm" type="button") Show
			div(style="float:left; padding-left:5px;")
				button(id="layoutSetDefault" class="btn btn-default btn-sm" type="button") Reset

		// screen size
		div(class="stripe_a text-left")
			div screenSize
			select(class="selectpicker" data-width="113px" id="changeScreenSize")
				for value, key in ['defaultSize', 'camera', 'fullScreen', '16:9_fullScreen']
					option #{value}

		// background
		div(class="stripe_a text-left")
			div Background
			select(class="selectpicker" data-width="80px" id="changeBackground")
				for value, key in ['camera','wood','mat', 'RGB(255,255,0)']
					option #{value}

		// QR sheet
		div(class="stripe_b text-left")
			a(href='/qrSheet') Download QR Sheet